/* src/components/ServiceCard/ServiceCard.module.css */
.card {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  background-color: #F0F0F0; /* Light gray background for image */
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: var(--space-lg);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 21px;
  line-height: 1.4;
  color: var(--text-dark);
  font-weight: 800;
  margin-bottom: var(--space-sm);
}

.description {
  color: var(--text-gray);
  font-size: 14px;
  line-height: 26px;
  margin-bottom: var(--space-md);
}

.learnMoreLink {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: var(--primary-red);
  font-weight: 700;
  font-size: 13px;
}