/* src/components/ProductCard/ProductCard.module.css */
.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  text-decoration: none;
}

.imageContainer {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 250px; /* Give a fixed height to align cards */
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discountBadge {
  position: absolute;
  top: 17px;
  right: 16px;
  background-color: var(--primary-blue);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: var(--font-size-small);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-sm);
}

.title {
  font-weight: 700;
  color: var(--text-dark-blue);
}