/* src/components/InputField/InputField.module.css */
.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.label {
  font-size: var(--font-size-small);
  font-size: 12px;
  font-weight: 500;
  color: var(--text-dark-blue);
}

.input {
  background-color: #F9F9F9;
  border: none;
  border-radius: var(--border-radius-lg);
  padding: 13px 16px;
  font-family: var(--font-family-sans);
  width: 100%;
}

.input::placeholder {
  color: #BDBDBD;
}

/* Specifically for textarea resizing */
textarea.input {
  resize: vertical;
  max-height: 150px;
}