/* src/components/TestimonialSection/TestimonialSection.module.css */
.section {
  padding: var(--space-xxl) 0;
  background-color: white; /* Or #F9F9F9 if you want a slight off-white */
  overflow: hidden;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  display: flex;
  align-items: center;
  gap: 60px;
}

/* Left Column */
.leftColumn {
  flex-basis: 40%;
}

.compositionImage {
  width: 100%;
  height: 300px;
}

/* Right Column */
.rightColumn {
  flex-basis: 60%;
}

.header {
  position: relative;
  margin-bottom: 12px;
}

.title {
  font-size: 45px;
  font-weight: 800;
  color: var(--text-dark-blue);
}

.quoteIcon {
  position: absolute;
  top: 0;
  right: 25px;
  width: 80px; /* Control the size */
}

.subtitle {
  font-size: 1.3rem; /* 24px */
  font-weight: 700;
  color: var(--text-dark-blue);
  margin-bottom: 15px;
  margin-top: 20px;
}

.testimonialText {
  color: var(--text-gray);
  line-height: 1.8;
  font-size: 0.9rem;
  max-width: 620px;
  margin-bottom: 20px;
}

.authorInfo {
  margin-bottom: 20px;
  font-size: 1rem;
}

.authorName {
  font-weight: 700;
  color: var(--text-dark-blue);
}

.authorRole {
  color: var(--primary-red);
}

.controls {
  display: flex;
  gap: var(--space-md);
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #D9D9D9; /* Inactive color */
}

.dot.active {
  background-color: var(--text-dark-blue); /* Active color */
}